<phpunit
        bootstrap="./bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertNoticesToExceptions="false"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true">
    <testsuites>
        <testsuite name="Phabricator PHP API">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <!-- Generate code coverage report only from the src directory -->
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
